<launch>
     <!-- Argument for device id -->
     <arg
       name="main_camera_id"
       default="0"
     />
     <!-- Publisher node -->
     <node
       pkg="cv_camera"
       type="cv_camera_node"
       name="main_camera" 
       args="$(arg main_camera_id)" >
       <remap from="cv_camera/image_raw" to="main_camera/image_raw" />
     </node>
</launch>
