<launch>
    <!-- Configure HW backend implementation -->
    <param name="rosbot/hw_backend" type="string" value="byj" />
    <param name="rosbot/gpio_chip_name" type="string" value="gpiochip0" />
    <rosparam param="rosbot/left_motor_pins">
      [216.0, 50.0, 14.0, 194.0]
    </rosparam>
    <rosparam param="rosbot/right_motor_pins">
      [149.0, 200.0, 38.0, 76.0]
    </rosparam>

    <!-- Load the URDF model of DiffBot into the ROS Parameter Server -->
    <param name="rosbot/robot_description"
        command="$(find xacro)/xacro '$(find bot_description)/urdf/bot.urdf.xacro'"/>

    <!-- This will create the bot hardware interface and instantiate a new controller manager with it -->
    <node name="bot_hw_interface" pkg="bot_hardware_interface" type="bot_hardware_interface_node" ns="rosbot" output="screen"/>

    <!-- Load controller config to the parameter server -->
    <rosparam command="load"
              file="$(find bot_control)/config/rosbot_control.yaml"/>

    <!-- Load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="rosbot" args="joint_state_controller
                                          mobile_base_controller"/>
</launch>
