<launch>
    <!-- Start HW main_camera -->
    <include file="$(find main_camera)/launch/main_camera.launch" />

    <!-- Configure HW backend implementation -->
    <param name="rosbot/hw_backend" type="string" value="byj" />
    <rosparam param="rosbot/left_motor_pins">
      [3.0, 5.0, 7.0, 16.0]
    </rosparam>
    <rosparam param="rosbot/right_motor_pins">
      [15.0, 19.0, 21.0, 23.0]
    </rosparam>

    <!-- Load the URDF model of DiffBot into the ROS Parameter Server -->
    <param name="rosbot/robot_description"
        command="$(find xacro)/xacro '$(find bot_description)/urdf/bot.urdf.xacro'"/>

    <!-- This will create the bot hardware interface and instantiate a new controller manager with it -->
    <node name="bot_hw_interface" pkg="bot_hardware_interface" type="bot_hardware_interface_node" ns="rosbot" output="screen"/>

    <!-- Load controller config to the parameter server -->
    <rosparam command="load"
              file="$(find bot_description)/config/rosbot_control.yaml"/>

    <!-- Load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="rosbot" args="joint_state_controller
                                          mobile_base_controller"/>
    <!-- Load robot steering control
    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
      <param name="default_topic" value="/rosbot/mobile_base_controller/cmd_vel"/>
    </node>
    -->
</launch>
